---
# NOTE: there must be no spaces before the '-', so put the comma last.
Checks: '*,
clang-diagnostic-*,
modernize-*,
clang-analyzer-*,
-android-*,
-fuchsia-*,
-clang-analyzer-alpha*,
-readability-named-parameter,
-misc-unused-parameters,
-google-runtime-references,
-google-build-using-namespace,
-cppcoreguidelines-pro-type-union-access,
-google-readability-casting,
-readability-implicit-bool-cast,
-readability-convert-member-functions-to-static,
-google-readability-todo,
-readability-braces-around-statements,
-google-readability-braces-around-statements,
-performance-unnecessary-value-param,
-misc-unused-using-decls,
-modernize-pass-by-value,
-modernize-raw-string-literal,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
-readability-else-after-return,
-readability-implicit-bool-conversion,
-cppcoreguidelines-pro-type-member-init,
-hicpp-member-init,
-hicpp-no-array-decay,
-hicpp-use-auto,
-hicpp-vararg,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-macro-usage,
'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/glow'
AnalyzeTemporaryDtors: false
CheckOptions:
...
