*.o
*.swn
*.swo
*.swp
*~
.DS_Store
*.so
*.dylib
*.egg-info
*.egg
*.eggs
*.pyc

GPATH
GRTAGS
GTAGS
tags

compile_commands.json

build/
external/googletest/
external/llvm/
externalbackends/*/
.vscode/
.vim/
.idea/
.ccls-cache/
