[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/onnx"]
	path = thirdparty/onnx
	url = https://github.com/onnx/onnx.git
[submodule "thirdparty/fp16"]
	path = thirdparty/fp16
	url = https://github.com/Maratyszcza/FP16.git
[submodule "thirdparty/peglib"]
	path = thirdparty/peglib
	url = https://github.com/yhirose/cpp-peglib.git
