os: linux
dist: trusty
sudo: required
language: cpp
compiler: clang

matrix:
  fast_finish: true
  include:
    - os: linux
      env:
        - TEST_NAME=ASAN
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y ninja-build llvm libprotobuf-dev protobuf-compiler libpng-dev
      install:
        - mkdir build && cd build
        - cmake -G Ninja -DGLOW_USE_SANITIZER="Address;Undefined" -DCMAKE_BUILD_TYPE=Debug -DGLOW_WITH_OPENCL=OFF -DGLOW_WITH_CPU=ON ../
    - os: linux
      env:
        - TEST_NAME=RELEASE
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y ninja-build llvm libprotobuf-dev protobuf-compiler libpng-dev
      install:
        - mkdir build && cd build
        - cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DGLOW_WITH_OPENCL=OFF -DGLOW_WITH_CPU=ON ../
    - os: linux
      compiler: g++
      env:
        - TEST_NAME=COVERAGE
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install -y ninja-build llvm lcov libprotobuf-dev protobuf-compiler libpng-dev
        - sudo pip install awscli --upgrade
      install:
        - mkdir build && cd build
        - cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DGLOW_WITH_OPENCL=OFF -DGLOW_USE_COVERAGE=ON ../
      script:
        - ../.travis/run_coverage.sh

script:
 - ninja all
 - CTEST_PARALLEL_LEVEL=2 ninja test
 - cat Testing/Temporary/LastTest.log
 - CTEST_PARALLEL_LEVEL=2 ninja test_unopt
