os: linux
dist: trusty
sudo: required
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0
    packages:
      - llvm-6.0
      - llvm-6.0-dev
      - clang-6.0
      - clang++-6.0
      - ninja-build
      - libpng-dev

before_install:
  - utils/install_protobuf.sh

jobs:
  include:
    - env:
        - TEST_NAME=ASAN
      install:
        - mkdir build && cd build
        - CC=clang-6.0 CXX=clang++-6.0 cmake -G Ninja
          -DCMAKE_BUILD_TYPE=Release -DGLOW_WITH_OPENCL=OFF -DGLOW_WITH_CPU=ON
          -DCMAKE_PREFIX_PATH=/usr/lib/llvm-6.0/include/
          -DGLOW_USE_SANITIZER="Address;Undefined"
          ../

    - env:
        - TEST_NAME=DEBUG
      install:
        - mkdir build && cd build
        - CC=clang-6.0 CXX=clang++-6.0 cmake -G Ninja
          -DCMAKE_BUILD_TYPE=Debug -DGLOW_WITH_OPENCL=OFF -DGLOW_WITH_CPU=ON
          -DCMAKE_PREFIX_PATH=/usr/lib/llvm-6.0/include/
          ../

    - compiler: g++
      env:
        - TEST_NAME=COVERAGE
      before_install:
        - utils/install_protobuf.sh
        - sudo apt-get install -y lcov
        - sudo pip install awscli --upgrade
        - sudo apt-get install -qq g++-6
        - sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-6 90
      install:
        - mkdir build && cd build
        - CC=gcc-6 CXX=g++-6 cmake -G Ninja
          -DCMAKE_BUILD_TYPE=Debug -DGLOW_WITH_OPENCL=OFF -DGLOW_WITH_CPU=OFF
          -DCMAKE_PREFIX_PATH=/usr/lib/llvm-6.0/include/
          -DGLOW_USE_COVERAGE=ON
          ../
      script:
        - ../.travis/run_coverage.sh

script:
 - ninja all
 - CTEST_PARALLEL_LEVEL=2 travis_wait 20 ninja test
 - cat Testing/Temporary/LastTest.log
 - CTEST_PARALLEL_LEVEL=2 travis_wait 20 ninja test_unopt
